@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    AppZone<br />
   Borno way, Alagbomeji<br />
    <abbr title="Phone">P:</abbr>
    8130007202
</address>

<address>
    <strong>CEO:</strong>   <a href="mailto:umorenjoshua50@gmail.com">Umoren Joshua</a><br />
    <strong>IT Supervisor:</strong> <a href="mailto:umorenjoshua50@gmail.com">Timileyin</a>
</address>