<center>  <h1>Business is not Open Yet</h1>
    <p></p>
    <h3><div class="modal-body">Select "Return" below if you want to return to View.</div></h3>
    <p></p>
        @Html.ActionLink("Return", "UserPosts", new {}, new {@class="btn btn-success"}) </center>
